---
layout: base
---
<!-- COVER: Start -->
<section class="cover">
  <div class="cover__left-column" id="coverAnimation">
  <canvas class="cover__animation" id="coverAnimationCanvas"></canvas>
    <div class="cover__inner">
      <h1 class="cover__name">Ria Carmin</h1>
      <h2 class="cover__title">UX UI Designer</h2>
    </div>
    <div class="cover__skewed cover__skewed--left-1">&nbsp;</div>
    <div class="cover__skewed cover__skewed--left-2">&nbsp;</div>
  </div><div class="cover__right-column">
    <ul class="cover__navigation">
      <li class="cover__navigation-item"><a href="">Case Studies / Work</a></li>
      <li class="cover__navigation-item"><a href="">Journal / Notes</a></li>
      <li class="cover__navigation-item"><a href="">About</a></li>
      <li class="cover__navigation-item"><a href="">Contact</a></li>
    </ul>
    <div class="cover__skewed cover__skewed--right-1">&nbsp;</div>
    <div class="cover__skewed cover__skewed--right-2">&nbsp;</div>
  </div>
</section>
<!-- COVER: End -->

<!-- WORK: Start -->
<section class="work">

<!-- Rays SVG Animation: Start -->
  <svg version="1.1" class="rays" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 576.1 977.7" xml:space="preserve">
  <g class="ray ray--1">
    <line class="rays__st0" x1="4.7" y1="0.3" x2="571.9" y2="973.6"/>
    <g>
      <circle class="rays__st1" cx="571.8" cy="973.4" r="3.8"/>
      <path class="rays__st2" d="M568.2,975.5c-1.2-2-0.5-4.6,1.5-5.8c2-1.2,4.6-0.5,5.8,1.5c1.2,2,0.5,4.6-1.5,5.8
        C572,978.3,569.3,977.6,568.2,975.5C567,973.5,569.3,977.6,568.2,975.5z M574.7,971.8c-0.9-1.6-2.9-2.1-4.5-1.2s-2.1,2.9-1.2,4.5
        c0.9,1.6,2.9,2.1,4.5,1.2C575,975.3,575.6,973.3,574.7,971.8C573.8,970.2,575.6,973.3,574.7,971.8z"/>
    </g>
  </g>
  <g class="ray ray--2">
    <line class="rays__st0" x1="455.3" y1="973.4" x2="4.7" y2="0.3"/>
    <g>
      <circle class="rays__st1" cx="455.2" cy="973.2" r="3.8"/>
      <path class="rays__st2" d="M459.1,971.4c-1-2.1-3.5-3.1-5.7-2.1c-2.1,1-3.1,3.5-2.1,5.7c1,2.1,3.5,3.1,5.7,2.1
        C459.2,976.1,460.1,973.6,459.1,971.4C458.1,969.3,460.1,973.6,459.1,971.4z M452.3,974.6c-0.8-1.6,0-3.6,1.6-4.3
        c1.6-0.8,3.6,0,4.3,1.6c0.8,1.6,0,3.6-1.6,4.3C455,976.9,453,976.2,452.3,974.6C451.5,972.9,453,976.2,452.3,974.6z"/>
    </g>
  </g>
  <g class="ray ray--3">
    <line class="rays__st0" x1="4.7" y1="0.3" x2="291.9" y2="973.2"/>
    <g>
      <circle class="rays__st1" cx="291.9" cy="973" r="3.8"/>
      <path class="rays__st2" d="M287.8,974.2c-0.7-2.3,0.6-4.6,2.9-5.3c2.3-0.7,4.6,0.6,5.3,2.9c0.7,2.3-0.6,4.6-2.9,5.3
        S288.4,976.4,287.8,974.2C287.1,971.9,288.4,976.4,287.8,974.2z M295,972.1c-0.5-1.7-2.3-2.7-4-2.2s-2.7,2.3-2.2,4
        c0.5,1.7,2.3,2.7,4,2.2S295.5,973.8,295,972.1C294.5,970.3,295.5,973.8,295,972.1z"/>
    </g>
  </g>
  <g class="ray ray--4">
    <line class="rays__st0" x1="126.8" y1="973.1" x2="4.7" y2="0.3"/>
    <g>
      <circle class="rays__st1" cx="126.8" cy="972.8" r="3.8"/>
      <path class="rays__st2" d="M131,972.3c-0.3-2.3-2.4-4-4.8-3.7c-2.3,0.3-4,2.4-3.7,4.8c0.3,2.3,2.4,4,4.8,3.7
        C129.6,976.8,131.3,974.6,131,972.3C130.7,970,131.3,974.6,131,972.3z M123.5,973.3c-0.2-1.8,1-3.4,2.8-3.6c1.8-0.2,3.4,1,3.6,2.8
        c0.2,1.8-1,3.4-2.8,3.6C125.4,976.3,123.7,975,123.5,973.3C123.3,971.5,123.7,975,123.5,973.3z"/>
    </g>
  </g>
  <g class="ray ray--5">
    <line class="rays__st0" x1="4.7" y1="0.3" x2="183.2" y2="973.1"/>
    <g>
      <circle class="rays__st1" cx="183.2" cy="972.9" r="3.8"/>
      <path class="rays__st2" d="M179,973.7c-0.4-2.3,1.1-4.5,3.4-5c2.3-0.4,4.5,1.1,5,3.4c0.4,2.3-1.1,4.5-3.4,5
        C181.6,977.5,179.4,976,179,973.7C178.6,971.3,179.4,976,179,973.7z M186.4,972.3c-0.3-1.8-2-2.9-3.8-2.6c-1.8,0.3-2.9,2-2.6,3.8
        c0.3,1.8,2,2.9,3.8,2.6C185.5,975.8,186.7,974.1,186.4,972.3C186.1,970.5,186.7,974.1,186.4,972.3z"/>
    </g>
  </g>
  <g class="ray ray--6">
    <line class="rays__st0" x1="4.3" y1="973" x2="4.7" y2="0.3"/>
    <g>
      <circle class="rays__st1" cx="4.3" cy="972.8" r="3.8"/>
      <path class="rays__st2" d="M8.5,972.8c0-2.3-1.9-4.3-4.3-4.3c-2.3,0-4.3,1.9-4.3,4.3c0,2.3,1.9,4.3,4.3,4.3
        C6.6,977.1,8.5,975.2,8.5,972.8C8.5,970.5,8.5,975.2,8.5,972.8z M1,972.8c0-1.8,1.5-3.3,3.3-3.3s3.3,1.5,3.3,3.3
        c0,1.8-1.5,3.3-3.3,3.3C2.5,976.1,1,974.6,1,972.8C1,971,1,974.6,1,972.8z"/>
    </g>
  </g>
  </svg>
<!-- Rays SVG Animation: Start -->


  <div class="work__container">
    <div class="work__box">
      <h2 class="work__section-title">Case <br/> Studies <br/>/ Work</h2>
      <div class="work__wrapper">
        <div class="work__grid">
          <a class="work__card work__card--squared" href="/" style="background-image:url(https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg)">
          </a>
          <a class="work__card work__card--squared" href="/">
            <h3>Kitten</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dignissimos itaque mollitia distinctio repudiandae.</p>
          </a>
          <a class="work__card work__card--vertical" href="/">
          <img src="http://1402452014-local-prog-la-prod.s3.amazonaws.com/uploads/images/Kitten2.jpg" alt="">
            <h3>Kitten</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dignissimos itaque mollitia distinctio repudiandae. Soluta placeat quibusdam beatae modi rem, iusto, cumque fugit amet laudantium quam sunt.</p>
          </a>
          <a class="work__card work__card--horizontal" href="/">
            <p>hello</p>
          </a>
          <a class="work__card work__card--squared" href="/">
            <p>hello</p>
          </a>
          <a class="work__card work__card--squared" href="/">
            <p>hello</p>
          </a>
          <a class="work__card work__card--featured" href="/">
            <p>hello</p>
          </a>

          <a class="work__card work__card--vertical" href="/">
            <p>hello</p>
          </a>
          <a class="work__card work__card--horizontal" href="/">
            <p>hello</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- WORK: End -->

<!-- JOURNAL: Start -->
<section class="journal">
  <div class="journal__container">
    <div class="journal__box">
      <h2 class="journal__section-title">Journal / Notes</h2>
    </div>
    <div class="container journal__wrapper">
      <div class="journal__grid">
        <div class="journal__item--sizer"></div>
          
          {% for post in site.posts %}
          <div class="journal__item"><div class="journal__post">

            {% if post.image %}
              <img src="http://placehold.it/350x150" alt="">
            {% else %}
              <div class="journal__placeholder">&nbsp;</div>
            {% endif %}

            <h3 class="journal__title"><a class="animsition-link" href="{{ post.url }}">{{ post.title }}</a></h3>
            <p class="journal__tag">{{ post.category }}</p>
            <p>{{ post.excerpt }}</p>

          </div></div>
          {% endfor %}

  <!--      <a href="/journal" class="button__outline button__outline--default journal__link">See All</a> -->
      </div>
    </div>
  </div>
</section>
<!-- JOURNAL: End -->


<!-- ABOUT: Start -->
<section class="about">
  <div class="about__decorative-top">
  </div>
  <main class="about__main">
    <div class="container">
      <div class="about__inner">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eligendi minima a facilis quia assumenda corporis nemo! Neque eius officia, quibusdam, commodi, a in iusto eligendi aliquid ipsum animi vel! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque magni in ea, ex id ullam quam necessitatibus nobis sapiente perferendis, consequuntur numquam illo impedit qui dolores inventore distinctio officiis architecto?</p>
        <div class="about__column">
          <h3>Favorites</h3>
          <ul>
            <li>Space sagas</li>
            <li>Cherry pie</li>
            <li>Salty air</li>
            <li>Kickboxing</li>
            <li>Jamming guitar</li>
          </ul>
        </div>
        <div class="about__column">
          <h3>Contacts</h3>
          <ul>
            <li><a href="" class="about__link">Email</a></li>
            <li><a href="" class="about__link">Twitter</a></li>
            <li><a href="" class="about__link">LinkedIn</a></li>
            <li><a href="" class="about__link">Exposure</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <div class="about__decorative-bottom"></div>
</section>
<!-- ABOUT: End -->