---
layout: page
title: Journal and Notes | Ria Carmin | UX UI Designer
permalink: /journal/
---

<section class="journal">
  <div class="journal__container">
    <div class="journal__box">
      <h2 class="journal__section-title">Journal / Notes</h2>
    </div>
    <div class="container journal__wrapper">
    <div class="journal__grid">
      <div class="journal__item--sizer"></div>

          {% for post in site.posts %}
          <div class="journal__item"><div class="journal__post">

            {% if post.image %}
              <img src="http://placehold.it/350x150" alt="">
            {% else %}
              <div class="journal__placeholder">&nbsp;</div>
            {% endif %}

            <h3 class="journal__title"><a class="animsition-link" href="{{ post.url }}">{{ post.title }}</a></h3>
            <p class="journal__tag">{{ post.category }}</p>
            <p>{{ post.excerpt }}</p>

          </div></div>
          {% endfor %}

      </div>
    </div>
  </div>
</section>