@import "../../styles/base/variables";
@import "../../styles/utilities/typography";

.list {
  margin: 0;
  padding: 0;
  display: block;
  &__title {
    display: block;
  }
  &__item,
  &__title {
    @include heading ($color-primary);
  }
}
