@import "../../styles/base/variables";

.navigation {
  padding: 0;
  margin: 2rem 0;
  &__item {
    display: block;
    width: 50%;
    float: left;
    margin-left: -1px;
    &:first-of-type {
    }
    a {
      font-family: $heading-font-family;
      font-size: $base-font-size;
      font-weight: $font-weight-bold;
      line-height: $heading-line-height;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: transparentize(#ffffff, 0.5);
      &:hover {
        color: $white;
      }
    }
  }
}
