<!-- FACEBOOK -->
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% if page.layout == 'post' or page.layout == 'portfolio' %}
<meta property="og:type" content="article" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}
{% if page.layout == 'post' or page.layout == 'portfolio' %}<meta property="og:title" content="{% if page.title %}{{ page.title }} by Ria Carmin{% else %}{{ site.description }}{% endif %}" />{% else %}<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}" />{% endif %}
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
{% if page.hero-image %}
<meta property="og:image" content="{{ site.url }}{{ page.hero-image }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}/assets/og-image.png" />
{% endif %}


<!-- TWITTER -->
{% if page.layout == 'post' %}
<meta name="twitter:card" content="summary" />
{% else %}
<meta name="twitter:card" content="summary_large_image" />
{% endif %}
<meta name="twitter:site" content="@riacarmin" />