// ==========================================================================
// About
// ==========================================================================

.about {
  h3, ul {
    text-align: center;
  }
  h3 {
    color: map-get($accent-colors, secondary);
  }
  ul {
    margin-bottom: 1em;
  }
  &__decorative-top {
    margin-top: 8em;
    position: relative;
    height: em(80);
    background-color: transparentize(map-get($accent-colors, dark), .4);
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: em(40);
      background-color: transparentize(map-get($accent-colors, dark), .4);
      bottom: 0;
    }
  }
  &__decorative-bottom {
    position: relative;
    height: em(80);
    background-color: map-get($accent-colors, dark);
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: em(40);
      background-color: darken(map-get($accent-colors, dark), 3%);
      bottom: 0;
    }
  }
  &__main {
    position: relative;
    background-color: lighten(map-get($accent-colors, dark), 3%);
    padding: em(80) 0;
  }
  &__inner {
    z-index: 10;
    @include span-columns(6);
    margin-top: 2em;
    @include shift(3);
    color: $white;
  }
  &__column {
    margin-top: 1em;
    @include span-columns(3 of 6);
  }
  &__link {
    color: transparentize(white,.5);
    &:hover {
      color: $white;
    }
  }
}