.footer {
  margin-top: 1.5em;
  padding: 1.5em 0;
  background-color: map-get($gray-colors, x-light);
  p {
    margin-bottom: 0;
  }
  
  &__container {
    @include outer-container;
  }
  &__left {
    @include span-columns(4);
    color: $light-gray;
    font-family: $heading-font-family;
  }
  &__right {
    @include span-columns(8);
    text-align: right;
  }
  &__name {
    font-weight: 700;
    color: $medium-gray;
    font-style: normal;
  }

  a {
    @extend %label;
    display: inline-block;
    padding-right: 1em;
    margin-left: 1em;
    border-right: 1px solid $light-gray;
    color: $light-gray;
    font-size: .75em;
    font-weight: 400;

    &:hover {
      color: $action-color;
    }

    &:last-of-type {
    padding-right: 0;
    border-right: none;
    }
  }
}