// ==========================================================================
// HELPERS
// ==========================================================================
* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
}

.container {
  @include outer-container;
}

// Vertically align anything
// by zerosixthree
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Embed responsive videos
// Modified http://embedresponsively.com/
@mixin responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Generate modifier text color classes
@mixin text-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      color: $color;
    }
  }
}