// ==========================================================================
// NAVIGATION
// ==========================================================================
.navigation {
  padding: 1.5em 0;
  border-bottom: $base-border;

  &--overlay {
    padding: 1.5em 0;
    position: absolute;
    width: 100%;
    top: 0;
  }

  &__inner {
    @include outer-container;
  }
  &__left {
    @include span-columns(10);
  }
  &__right {
    @include span-columns(2);
    text-align: right;
  }
  &__name {
    font-family: $heading-font-family;
    font-weight: 700;
    margin-right: 2em;
    letter-spacing: 1px;
    &--regular {
      color: $wine;
      &:hover {
        color: $mustard;
      }
    }
    &--white {
      color: transparentize(white, .2);
      &:hover {
        color: white;
      }
    }
  }
  &__item {
    @extend %label;
    display: inline-block;
    padding-right: 1em;
    margin-left: 1em;
    border-right: 1px solid $light-gray;
    color: $light-gray;
    font-size: .75em;

    &:hover {
      color: $action-color;
    }

    &:last-of-type {
    padding-right: 0;
    border-right: none;
    }
    &--white {
      @extend %label;
      display: inline-block;
      font-size: .75em;
      color: transparentize(white, .2);
      &:hover {
        color: white;
      }
    }
  }
  &__back {
    font-size: 1.5em;
    vertical-align: middle;
  }
}