// ==========================================================================
// PORTFOLIO
// ==========================================================================

.portfolio {
  &__hero {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: em(400);
  }
  &__logo {
    display: block;
    margin: 0 auto;
    width: em(200);
    @include vertical-align;
  }
  &__main {
    @include outer-container;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  &__aside {
    position: relative;
    @include span-columns(12);
    @include media($medium-screen-up) {
      @include span-columns(4);
    }
  }
  &__label {
    @extend %label;
    color: $light-gray;
    font-size: .75em;
    font-weight: 700;
  }
  &__title {
    color: $color-primary;
    text-transform: capitalize;
    font-size: 2.5em;
    text-align: center;
  }

  &__description {
    @extend %label;
    font-size: 1em;
    font-weight: 700;
    display: block;
    text-align: center;
    margin: 1em 0;
    &:before,
    &:after {
      content: '';
      display: block;
      margin: 1em auto;
      height: 4px;
      width: 60%;
      background-color: $medium-gray;
    }
  }
  &__active-url {
    display: block;
    font-size: 1.25em;
    margin-bottom: 1em;
    text-align: center;
  }
  &__tag {
    @extend %label;
    color: $light-gray;
    display: inline-block;
    padding: .5em .5em;
    margin-right: .25em;
    margin-top: .5em;
    border: $base-border;
    border-radius: $base-border-radius;
    font-size: .75em;
  }
  &__back-button {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  &__content {
    @include span-columns(12);
    @include media($medium-screen-up) {
      @include span-columns(8);
    }

    blockquote {
      color: $light-gray;
      font-size: 1.5em;
      font-family: $heading-font-family;
    }

    &>ul {
      list-style-type: square;
      list-style-position: inside;
      margin-bottom: 1em;
    }
  }
  &__video {
    @include responsive-video;
    margin-bottom: 1em;
  }

  &__viewer {
    margin-bottom: 4em;
  }
}











