// ==========================================================================
// POST
// ==========================================================================

.post{
  &__main {
    @include outer-container;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  &__aside {
    @include span-columns(12);
    @include media($medium-screen-up) {
      @include span-columns(4);
    }
  }
  &__title {
    display: block;
    width: 100%;
    color: $color-primary;
    text-transform: capitalize;
    font-size: 3em;
    text-align: center;
    @include media($medium-screen-up) {
      font-size: 4.5em;
    }
  }
  &__label {
    @extend %label;
    color: $light-gray;
    font-size: .75em;
    font-weight: 700;
  }
  &__excerpt {
    font-family: $heading-font-family;
  }
  &__date {
    font-style: italic;
    color: $light-gray;
  }
  &__content {
    @include span-columns(12);
    @include media($medium-screen-up) {
      @include span-columns(8);
    }
    &>h2,
    &>h3, {
      margin-top: 2rem;
    }
    &>h2 {
      color: $color-dark;
      font-weight: $font-weight-bold;
      padding-left: .5em;
      border-left: 1.15em solid $color-dark;
    }

    blockquote {
      color: $light-gray;
      font-size: 1.5em;
      font-family: $heading-font-family;
    }

    &>ul {
      list-style-type: square;
      list-style-position: inside;
      margin-bottom: 1em;
    }
    &>ol {
      list-style-type: decimal;
      list-style-position: inside;
      margin-bottom: 1em;
    }
    li {
      margin-bottom: 1em;
    }
  }
  &__video {
    @include responsive-video;
    margin-bottom: 1em;
  }
}












