// ==========================================================================
// WORK / CASE STUDIES
// ==========================================================================

.work {
  $height: 240px;
  $width: $height;
  $gutter: 20px;
  $total-height: 600px;
  
  position: relative;
  @include clearfix;

  &__container {
    position: relative;
  }

  &__section-title {
    position: absolute;
    top: 1em;
    left: -2em;
    font-size: 3.5em;
    z-index: 10;
    color: lighten(map-get($accent-colors, primary), 5%);
  }

  &__box {
    @include span-columns(12);
    margin-top: 8em;
    margin-bottom: 4em;
    height: $total-height;
    background-color: map-get($accent-colors, dark);
    position: relative;

    @include media($medium-screen-up) {
      width: 85%;
      margin-left: 15%;
    }
  }

  // Grid
  // ========================================================================
  &__grid {
    background-color: map-get($accent-colors, dark);
    height: 100%;
    padding: 40px 2em 40px 12em;
    @include clearfix;
    
  }
  &__wrapper {
    height: 100%;
    overflow-x: scroll;
  }
  // Cards
  // ========================================================================
  &__card {
    display: inline-block;
    background-color: transparentize(white, .15);
    margin-right: $gutter;
    background-size: cover;
    background-repeat: no-repeat;
    h3, p {
      padding-right: 1rem;
      padding-left: 1rem;
    }
    h3 {
      margin-top: 0.75em;
    }
    p {
      color: $base-font-color;
    }

    &--sizer {
      height: $height;
    }
    &--gutter {
      height: $gutter;
    }

    &--featured,
    &--horizontal {
      width:  $width*2+$gutter;
    }
    
    &--squared,
    &--vertical {
      width:  $width;
    }

    &--squared,
    &--horizontal {
      height: $height;
    }

    &--featured,
    &--vertical {
      height: $height*2+$gutter;
    }
  }
}
// Scrollbars
// ========================================================================
div.work__wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

div.work__wrapper::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: map-get($accent-colors, primary);

  }
div.work__wrapper::-webkit-scrollbar-track {
  background-color: transparentize(white, .6);
}
// div.work__wrapper::-webkit-scrollbar-button {
//   width: 14px;
//   display: block;
//   background-color: map-get($accent-colors, secondary);
// }
// Ray Animation
// ========================================================================

.rays {
  height: 710px;
  position: absolute;
  left: -10px;
  top: 30px;
  // line
  &__st0 {
    fill:none;
    stroke: map-get($accent-colors, secondary);
    stroke-miterlimit:10;
  }
  // circle fill
  &__st1 {
    fill:#FFFFFF;
  }
  // circle outline
  &__st2 {
    fill: map-get($accent-colors, secondary);
  }
}

@include keyframes(flickering) {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.7;
  }
  6% {
    opacity: 0.45;
  }
  8% {
    opacity: 0.55;
  }
  10% {
    opacity: 0.45;
  }
  11% {
    opacity: 0.5;
  }
  12% {
    opacity: 0.85;
  }
  14% {
    opacity: 0.55;
  }
  16% {
    opacity: 0.7;
  }
  17% {
    opacity: 0.55;
  }
  19% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.15;
  }
  24% {
    opacity: 0.5;
  }
  26% {
    opacity: 0.6;
  }
  28% {
    opacity: 0.5;
  }
  38% {
    opacity: 0.15;
  }
  40% {
    opacity: 0.5;
  }
  42% {
    opacity: 0.85;
  }
  44% {
    opacity: 0.5;
  }
  46% {
    opacity: 0.15;
  }
  56% {
    opacity: 0.5;
  }
  58% {
    opacity: 0.95;
  }
  60% {
    opacity: 0.5;
  }
  68% {
    opacity: 0.5;
  }
  70% {
    opacity: .7;
  }
  72% {
    opacity: 0.5;
  }
  93% {
    opacity: 0.5;
  }
  95% {
    opacity: .7;
  }
  97% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.ray {
  @include animation-name(flickering);
  @include animation-duration(10s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);
  @include animation-fill-mode(backwards);
  &--1{
    @include animation-delay(.45s);
    @include animation-direction(alternate-reverse);
  }
  &--2{
    @include animation-delay(1.84s);
  }
  &--3{
    @include animation-delay(0);
    @include animation-direction(alternate-reverse);
  }
  &--4{
    @include animation-delay(.22s);
  }
  &--5{
    @include animation-delay(.89s);
  }
  &--6{
    @include animation-delay(2s);
  }
}
