@import "../../styles/utilities/helpers";
@import "../../styles/base/variables";

.cover {
  @media screen and (min-width: $medium-screen) {
    height: 100%;
  }

  &__leftColumn,
  &__rightColumn {
    padding: 2rem;
    @include clearfix;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: $medium-screen) {
      display: inline-block;
      width: 50%;
      height: 100%;
      vertical-align: top;
    }
  }
  &__leftColumn {
    background-color: map-get($accent-colors, light);
  }

  &__rightColumn {
    background-color: map-get($accent-colors, secondary);
  }

  &__skewed {
    height: 8.75em;
    width: 110%;
    position: absolute;
    @media screen and (max-width: $medium-screen) {
      display: none;
    }

    &__left__1 {
      right: -4px;
      transform: rotate(5deg);
      background-color: lighten(map-get($accent-colors, light), 5%);
      bottom: -3em;
    }

    &__right__1 {
      left: -4px;
      transform: rotate(-5deg);
      background-color: darken(map-get($accent-colors, secondary), 3%);
      bottom: -3em;
    }
    &__left__2 {
      right: 4px;
      transform: rotate(5deg);
      background-color: white;
      bottom: -6.25em;
    }

    &__right__2 {
      left: 4px;
      transform: rotate(-5deg);
      background-color: white;
      bottom: -6.25em;
    }
  }
}
