---
layout: base
---
{% include navigation.html %}
<div class="portfolio__hero" style="background-image: url({{ page.hero-image }})">
  <img class="portfolio__logo" src="{{ page.logo }}" alt="{{ page.title }} header image">
  
</div>

<main class="portfolio__main mobile-container">
  <aside class="portfolio__aside">
    <div class="sticky portfolio__sticky">
      <p class="portfolio__label">Project</p>
      <h1 class="portfolio__title">{{ page.title }}</h1>
      <p class="portfolio__description">{{ page.excerpt }}</p>
      {% if page.url %}
        <a class="portfolio__active-url"href="http://{{ page.activeUrl }}" target="_blank">{{ page.activeUrl }}</a>
      {% endif %}
      <ul class="portfolio__tags">
        {% for tags in page.tags %}
          <li class="portfolio__tag">{{ tags }}</li>
        {% endfor %}
      </ul>
      <a href="javascript:history.back(1)" class="button button__outline button__outline--default portfolio__back-button">back</a>
    </div>
  </aside>
  <article class="portfolio__content">
    {{content}}
  </article>
</main>
{% include footer.html %}